@charset "utf-8";

/*
===============================================================================================
1.	버    전 : reset.css
2.	작 성 자 : Ryu
3.	참    고 : Reset
===============================================================================================
*/

/* web font */
/*
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
*/

/*font family*/
@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/NanumBarunGothic.eot);
  src: url(./fonts/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(./fonts/NanumBarunGothic.woff) format('woff'),
       url(./font/NanumBarunGothic.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 600;
  src: url(./fonts/NanumBarunGothicBold.eot);
  src: url(./fonts/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
       url(./fonts/NanumBarunGothicBold.woff) format('woff'),
       url(./fonts/NanumBarunGothicBold.ttf) format('truetype');
}

html {font-size:62.5%;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;vertical-align:baseline;font-style:normal;}

body,th,td,input,select,textarea,button {/*line-height:1.5em;*/font-family:'NanumBarunGothic', 'Nanum Gothic', 'Nanum Myeongjo', tahoma, dotum, Apple-Gothic, sans-serif;color:#666;-webkit-text-size-adjust:none;font-size:inherit;letter-spacing:0.02em;}
body {-webkit-text-size-adjust:none} /* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
img, fieldset, button {border:none;}
hr, button img {display:none;}
li {list-style:none;}
table, th, td {border-collapse:collapse;word-break:break-all;border-spacing:0;}
a {text-decoration:none;}
a:hover {text-decoration:none;}
a:focus {text-decoration:none;}
em {font-style:normal;}
textarea {overflow:auto;border:1px solid #dedede;color:#555;}
legend {overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;visibility:hidden;font-size:0;line-height:0;} /* For Screen Reader */ 
img {vertical-align:middle;width:100%;}
input, select {color:inherit;font:inherit;vertical-align:middle;}
img, select, input, button { vertical-align:middle;}
header, footer, article, aside, section, nav, menu, hgroup, figure {display:block;}  /* html5 초기화 */
caption,hr {overflow:hidden;width:0;height:0;font-size:0;line-height:0;text-indent:-9999px;}
h1, h2, h3, h4, h5 {font-weight:600;}
strong {font-weight:600;}

/* bootstrap reset */
a, a:focus, a:hover {color:inherit;}